node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist/

logs/
*.log
npm-debug.log*

uploads/*
!uploads/.gitkeep
!uploads/originals/.gitkeep
!uploads/processed/.gitkeep
!uploads/thumbnails/.gitkeep

.vscode/

.DS_Store

coverage/

/src/generated/prisma