node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


dist/


logs/
*.log
npm-debug.log*


uploads/*
processed/*


!uploads/.gitkeep
!processed/.gitkeep


.vscode/


.DS_Store


coverage/
/src/generated/prisma
